/.metadata/
/RemoteSystemsTempFiles/
/BlackCat_Tensors/.cproject
/BlackCat_Tensors/.cproject
/BlackCat_Tensors/Release/
/BlackCat_Tensors/Release_/
/BlackCat_Tensors/Debug/
/BlackCat_Library_deprecated/*
/BlackCat_Tensors/.*
/BlackCat_NeuralNetworks/.*
/BlackCat_Tests/.*
/BlackCat_Tests/
/_config.yml
/.cproject
/.project
/.settings/
/.settings/.*
/Debug/
/Debug/.*
/Release/
/include/autograd/
/include/autograd/*
/include/neural_networks/Layers/LSTM.h
/include/neural_networks/Layers/Recurrent.h
/include/neural_networks/Layers/RecurrentFeedForward.h
/include/BlackCat_Autograd.h/
/examples/mnist_test_recurrent/*
/autodocs/
