/.metadata/
/RemoteSystemsTempFiles/
/BlackCat_Tensors/.cproject
/BlackCat_Tensors/.cproject
/BlackCat_Tensors/Release/
/BlackCat_Tensors/Release_/
/BlackCat_Tensors/Debug/
/BlackCat_Library_deprecated/*
/BlackCat_Tensors/.*
/BlackCat_NeuralNetworks/.*
/BlackCat_Tests/.*
/BlackCat_Tests/
/_config.yml
/.cproject
/.project
/.settings/
/.settings/.*
/Debug/
/Debug/.*
/Release/
/include/autograd/
BlackCat_Tensors.sln
*.vcxproj*
/x64/*
/.vs/*
/include/autograd/*
/include/neural_networks/Layers/RecurrentFeedForward.h
/include/BlackCat_Autograd.h/
/autodocs/
/include/bc_py.py
/examples/mnist_test/mnist_test_exec_cu
/examples/mnist_test/mnist_test_exec
/examples/mnist_test_recurrent/mnist_test_exec_cu
/examples/mnist_test_recurrent/mnist_test_exec
/examples/mnist_test*/mnist_test_exec*
/tests/blackcat_tests
/tests/blackcat_tests_cu
/__pycache__/
.*/
