/.metadata/
/RemoteSystemsTempFiles/
/BlackCat_Tensors/.cproject
/BlackCat_Tensors/.cproject
/BlackCat_Tensors/Release/
/BlackCat_Tensors/Release_/
/BlackCat_Tensors/Debug/
/BlackCat_Library_deprecated/*
/BlackCat_MetaTemplate_Functions/.*
/BlackCat_Tensors/.*
/BlackCat_Structures/.*
/BlackCat_NeuralNetworks/.*
/BC_Tensors_UnitTests/.*
/unit_tests/.*
/Python_BlackCat_NeuralNetworks/.*
/Python_BlackCat_NeuralNetworks/    
/BlackCat_Tests/.*
/BlackCat_Tests/
/BlackCat_Tests2/
/BlackCat_Tests2/.*
